@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.position_is_done{
    text-decoration: line-through;
    color: green;
}
.ck-editor__editable {
    min-height: 500px;
}
